* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Flex', sans-serif;
    background-color: whitesmoke;
    max-width: 1024px;
    margin: 0 auto;
}

/* NAVIGATION */

ul {
    list-style: none;
    padding-left: 0

}

a {
    text-decoration: none;
    color: black;
}

nav {
    font-weight: 400;
    padding: 25px;
}

h1, .top-nav {
    text-align: center;
}

.top-nav, .top-nav li {
    width: 100%;
}

h1 a, .top-nav a {
    color: #000;
}

.top-nav {
    margin-top: 30px;
}

.top-nav li {
    padding: 10px 0;
    margin: 5px auto;
    background-color: white;
}

.top-nav a {
    text-transform: uppercase;
}

/* MAIN */

    /* PROFILE */

    .profile-description {
        display: flex;
        flex-direction: column;
    }

    .profile-image {
        width: 70%;
        margin: 0 auto;
    }
    .profile-description p {
        padding: 25px;
    }

    /* PORTOFOLIO SECTION */

    .portofolio {
        background-color: aliceblue;
    }

    .port-title {
        text-align: center;
        padding: 20px;
    }

    img {
        width: 90%;
        display: block;
        margin: 0 auto;
    }

    .projects h3 {
        text-align: center;
    }

    .projects p {
        text-align: center;
        padding: 20px 30px;
    }

    /* CONTACT SECTION */

    .contact, .skills {
        text-align: center;
    }
    .contact p, .skills p {
        padding: 25px;
    }



/* MEDIA QUERIES */

/* NAVIGATION */

@media (min-width: 768px) {

    nav, .top-nav {
        display: flex;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    .top-nav li {
        background-color: transparent;
    }
    .top-nav {
        margin: 0 0 16px;
    }

    /* MAIN */

    /* PROFILE */
    .profile-description {
        flex-direction: row;
        justify-content: space-between; /* I cannot center vertically with justify-content */ 
    }


    .profile-description p {
        order: -1;
    }

    .profile-image {
        padding-right: 30px; /* I tried to center with padding-right */
    }

    /* PORTOFOLIO SECTION */

    .projects {
        display: flex;
        flex-wrap: wrap;
    }

    .item {
        flex-grow: 1;
        flex-basis: 50%;
    }
}

@media (min-width: 1024px) {

    /* NAVIGATION */
    nav {
        flex-direction: row;  /* Student name takes two lines */
        justify-content: space-around; /* I cannot justify-content: space-around*/
    }

    nav .name {
        margin-right: auto;
    }

    .item {
        flex-basis: 33.333%;
    }
    
}






